section.adventages
 h2.section-title Почему Дымоход.ру?
 div.subtitle-wrapper
  p.subtitle В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
 
 div.adventages__list
   div.adventages__item
    svg(class="architect")
     use(xlink:href="assets/images/sprite.svg#architect")
    h3.adventages__item-title Большой гарантийный срок
    p.adventages__item-subtitle Крепёж, стыковка элементов – <span>10 лет</span>
    p.adventages__item-subtitle Сквозная коррозия труб –  <span>5 лет</span>
    p.adventages__item-subtitle Гидроизоляция –  <span>3 года</span>
   
   div.adventages__item.adventages__item--ml61 
    svg(class="guarantee")
      use(xlink:href="assets/images/sprite.svg#guarantee")
    h3.adventages__item-title Помощь в покупке агрегата 
    p.adventages__item-subtitle  (печи, камина, котла), а также качественной 
    p.adventages__item-subtitle установке на объекте с последующим
    p.adventages__item-subtitle гарантийным сервисом


   div.adventages__item 
    svg(class="review")
     use(xlink:href="assets/images/sprite.svg#review")
    h3.adventages__item-title Реальные отзывы клиентов
    p.adventages__item-subtitle  Убедитесь в добросовестности исполнения,
    p.adventages__item-subtitle  прочитав Отзывы клиентов в специальном
    p.adventages__item-subtitle  разделе.